.site-nav {
  padding-top: 5px;
  position: relative;
  background-color: transparent;

  @include vp-767 {
    display: none;
  }
}

.site-nav__btn {
  position: absolute;
  width: 100px;
  height: 32px;
  top: calc(50% - 13px);
  padding: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--hidden {
    display: none;
  }
}

.site-nav__btn--next {
  background-image: url("../img/svg/button-next.svg");
  right: 0;
}


.site-nav__btn--prev {
  left: -10px;
  background-image: url("../img/svg/button-prev.svg");
  z-index: 100;
}

.site-nav__wrapper {
  overflow: hidden;
  width: 100%;
}

.site-nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 31px;
  background-color: transparent;
  transition: transform 0.5s ease;
}

// [data-position="last"] {
//   background: linear-gradient(90deg, #222222 39.69%, rgba(34, 34, 34, 0) 82.86%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;

// }

.site-nav__link {
  padding: 2px 9px 3px;
  border-radius: 49px;
  line-height: 19px;
  z-index: 100;
}
